
    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Yaldevi:wght@700&display=swap');
    
    body {
        font-size: 16px;
        margin:auto;
    }
    
    /* phone or baseline views **************************/
    header {
        background-color: #bed;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-family: Acme, sans-serif, monospace;
        max-width: 767px;
        margin: 0 auto;
        color: black;
        font-size:50px;
        
    }
    footer {
        background-color: #bed;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-family: Yaldevi, sans-serif, monospace;
        max-width: 767px;
        margin: 0 auto;
        color: black;
        text-align: center;
    }
    
    nav {
        max-width: 767px;
        margin: 0 auto;
        font-family: Yaldevi, sans-serif, monospace
    
    }
    main {
        max-width: 767px;
        margin: 0 auto;
        font-family: Pacifico, sans-serif, monospace;
    }
    h1,h2 {
        font-size: 1.1rem;
        color: #536878;
    }
    p {
        font-family: Acme, sans-serif, monospace;
    }
    
    nav {
        background-color: #66101F;
        text-align: center;
        box-shadow: 0 2px 15px gray;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav ul li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.75rem;
        text-decoration: none;
        font-size: 0.95rem;
        background: linear-gradient(90deg, transparent, gray, transparent) top / var(--d, 0) 10px no-repeat;
      transition: 0.5s;
    }
    nav a:hover {
    /* 	background-color: #bbb;
        color: #36454f; */
        --d: 75%;
    }
    
    
    
    footer {
        height: 2rem;
    }
    
    /* Tablet Views ******************************/
    @media only screen and (min-width: 37.5em) {
        h1 { font-size: 1.5rem;}
        
        /* Horizontal Menu Examples */
        /* Flex *********************/
    /* 		nav ul { display: flex; }
            nav ul li { flex: 1 1 100%; } */
        
    
        /* Grid *********************/
                nav ul { 
                    display: grid;
                    /*grid-template-columns: repeat(5, 1fr);*/
                    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
                }
    
        /* Inline-Block             */
        /*
                nav li {display: inline-block;}
        */
    
        /* Float                    */
        /*
                nav li {float:left; margin-right:15px;}
                main {clear:both;}
        */
    
    /*******************************************************/
        
        nav a {
            font-size: 1rem;
        }
        main {
            grid-template-columns: 1fr 1fr;
        }
        article:nth-child(3) {
            grid-column: span 2;
        }
        main picture {
            display: block;
        }
        main picture img {
            width: 100%;
            height: auto;
            border: 1px solid #bbb;
        }
    }
    
    /* Desktop Views ****************************/
    @media only screen and (min-width: 60em) {
        h1 { font-size: 2rem;}
        nav a {
            font-size: 1.1rem;
        }
        main {
            grid-template-columns: 1fr 1fr 1fr;
        }
        article:nth-child(3) {
            grid-column: span 1;
        }
    }
 
    