
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt&display=swap');


html {
	text-align:center;

}
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
	text-align:center;
	max-width:1000px;
	
	
}
h1 {
	font-size: 50px;
}
img {
	padding: 20px; ;
	border-radius:25px;
	margin-left:50px;
  }
.top-1 {
	background-color:rgb(183, 183, 226);
	max-width:1000px;
	text-align:center;
	font-family: Lobster, sans-serif, 'Times New Roman';
	border-radius:25px;
	display:flex;
   justify-content:flex-end;
  }

  .btm-1 {
    text-align:center;
    background-color:rgb(183, 183, 226);
    font-size:25px;
    border-radius:25px;
  }
/* phone or baseline views **************************/
main {
	max-width: 767px;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section h2 {
	color: #536878;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}
footer {
	text-align:center;
	background-color:rgb(183, 183, 226);
	font-family: Bitter, sans-serif, monospace;
	
  }


/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}

