@media only screen and (min-width: 480px){

    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
    html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
    
    /*----------- apply a natural box layout model to all elements --------------*/
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
    border: none;
    border-radius:5px;}
    
    /*HEADER*/
    header {
        margin: auto;
        background-color: #fff;
        padding: 5px 0;
        display: flex;
        align-items:center;
        justify-content:center;
    }
    body {
        background-color: #bbb;
        padding: 0;
        margin: 0;
    }
    
    .headings {
        display: flex;
        flex-direction:column;
        font-family: Lobster, sans-serif, 'Times New Roman';
    }
    .headings h1 {
        font-size: 50px;
        margin: 0 0 0 17px;
    }
    a {
        background-color: #00ff4c;
    }
    
    .m {
        font-style: italic;
        letter-spacing: 1pt;
        color: forestgreen;
        margin-left: 20px;
        font-size: .9rem;
    }
    p {
        margin: 0;
        padding:0;
    }
    
    /*NAVIGATOR*/
    
    nav button {
        margin:.2rem 2%;
        border:none;
        font-size:1.6rem;
        color:black;
        flex:right;
    }
    nav{
        background-color:#ccc;
        font-family: Kanit, sans-serif, monospace;
    
    }
    nav ul {
        list-style-type:none;
        padding:0;
        margin:0;
    
    }
    nav ul li a{
        display:block;
        padding:.8rem 2%;
        text-decoration:none;
        border-top: solid black;
        
    }
    nav ul li .one {
        background-color:pink; color:black;
    }
    nav ul li a:hover { background-color: green;
    }
    nav ul.hide{display:none;}
    /*----- Clearfix: Force an Element not to collapse -----*/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    /*LAZYLOAD*/

    .gallery-image:hover {
        background-color:white;
        border-style:solid;
        border-color:#00ff4c;
        Font-size:50px;
    }
    .grid { 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
        margin:50px;
        height:50px;

    }
    
    .main1 {
        text-align: center;
    }
    main {
        margin: 0 auto;
        font-family: Pacifico, sans-serif, monospace;
        text-align: center;
        font-family: Bitter, sans-serif, monospace;
    }
    .logo{
        display:block;
    }
    
    /*CONTACT INFO*/
    
    .info {
        text-align:right;
        padding:20px;
    }
    
    .img3 {
        padding:20px;
        height:300px;
        width:350px;
        position:absolute;
        margin:-220px -250px;  
    }
    .img-foot {
    height:80px;
    width:80px;
    margin-right:-20px;
    }
    .main4 {
        padding: 0 20px 50px;
    
    }
    
    /*FOOTER*/
      footer {
        background-color: #bed;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding:0;
        font-family: Bitter, sans-serif, monospace;
        max-width: 767px;
        margin-top: 50px;
        color: black;
    }
    
    
    
    
    
    
    }