
    @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

    /* Tablet Views ******************************/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,f4007e+100 */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top,  #a90329 0%, #f4007e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a90329 0%,#f4007e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a90329 0%,#f4007e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#f4007e',GradientType=0 ); /* IE6-9 */
    
    }  
    header {
        max-width: 1200px;
    }
    .img2 {
        height: 200px;
        width: 100px;
    }
    .img1 {
        position: relative;
        height: 300px;
        width: 700px;
    }
    .sum {
        position: absolute;
        top: 300px;
        right: 150px;
        background: radial-gradient(#eee, #40ca1d);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #333;
        opacity: .9;
        text-align:left;
    }
    
    nav {
        max-width: 1200px;
        margin: 0 auto;
        font-family: Kanit, sans-serif, monospace;
    
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
        border-style: solid;
        text-align: center;
        padding: 50px 0 50px 0;
        font-family: Bitter, sans-serif, monospace;
    }
      
    .logo {
        margin-bottom:100px;
    }
    .main1 {
        text-align: center;
        padding:0px;
        border:none;
        margin: 500px auto;
        position: relative;
        margin-top:50px;
    }
    .main2 {
        padding:0px 0 150px;
        border:none;
    }
    .main3 {
        border:none;
        padding: 50px;
    }
    .main4 {
        border:none;
        padding: 0px -100px;
    }
    nav button {
        display:none;
    }
    nav ul.hide {
        display:block;
    }
    nav ul li {
        float:left;
    }
    nav ul li a {
        border:none;
        border-right:1px solid rgba(0,0,0,0.3);
        padding:.6rem 18px;
        font-size:30px;
    }
    footer {
        background-color: #bed;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-family: Bitter, sans-serif, monospace;
        max-width: 1200px;
        margin: 0 auto;
        color: black;
        font-size:30px;
     }
    .update {
        margin-top:-20px;
    }

    
    .img-foot {
        height:80px;
        width:80px;
        margin-right:-20px;
    }
}