@media only screen and (min-width: 480px){

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
border: none;
border-radius:5px;}

/*HEADER*/

body {
	background-color: #bbb;
	padding: 0;
	margin: 0;
}



header {
    margin: auto;
	background-color: #fff;
	padding: 1px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}



/*NAVIGATION*/
nav button {
    margin:.2rem 2%;
    background-color:brown;
    border:none;
    font-size:1.6rem;
    color:black;
    flex:right;
}
nav{
    background-color:#ccc;
    font-family: Kanit, sans-serif, monospace;

}
nav ul {
    list-style-type:none;
    padding:0;
    margin:0;
} 
a {
    background-color: #00ff4c;
}
}
nav ul li a{
    display:block;
    padding:.8rem 2%;
    text-decoration:none;
    text-align:center;
    border-top-style:solid;
    
    
}
nav ul li .one {
    background-color:pink; 
    color:black;
}
nav ul li a:hover { background-color: rgb(77, 240, 77)7, 240, 77);
}

nav ul.hide{display:none;}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



/*CARDS*/
.main3 {
width:1200px;
height: 1800px;
margin:50px -50px 0px;;
background-color:gray;

}
section {
    width:300px;
    background-color:pink;
    margin:50px 25 0px ; 
    padding: 10px 20px;
    margin-left:250px;
margin-top:20px;
}
div img {
    height:300px;
    width:250px;
}
main {

    font-family: Pacifico, sans-serif, monospace;
    text-align: center;
    font-family: Bitter, sans-serif, monospace;
}


.main1 {
    text-align: center;
    padding:
    20px 0px;
}

.logo{
    display:block;
}
.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: forestgreen;
	margin-left: 20px;
	font-size: .9rem;
}

/*HomeEvents*/
div.town-events .events-content section{
    background-color:pink;
    border-style:solid;
    border-color: gray;
margin-left:160px;
margin-top:20px;

/*CONTACT INFORMATION*/
.main4{
    margin-top:50px;
}
.info {
    text-align:center;
    padding:50px;
}
.contactimg{
    margin-top:100px;
}

/*FOOTER*/
footer {
    background-color: #bed;
    font-family: Bitter, sans-serif, monospace;
    color: black;
    font-size:50px;
    
   
}

.sum {
    position: absolute;
	top: 325px;
	right: 70px;
	background: radial-gradient(#eee, #40ca1d);
	border: 1px solid #000;
	box-shadow: 0 0 30px #333;
	opacity: .9;
    text-align:left;

  
}
.grid { 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    margin: 10px;
    height:50px;
}
.grid-col {
	margin-right:200x;
}

.grid-col:hover {
    background-color:blue;
}

}