/* Desktop Views ****************************/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt&display=swap');
@media only screen and (min-width: 750px) {

/*HEADER*/
body {
	background-color: #bbb;
	padding: 0;
	margin: 0;
}

header {
    margin: 0px auto;
    background-color: #fff;
	padding: -50px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}
.headimg {
    height: 100px;
}
.title{
    margin:0 auto 0px 0px;
    font-size:50px;
    font-family: Lobster, sans-serif, 'Times New Roman';
}
}
.headings {
    display: flex;
    
}
.heading{
    margin:-5px 0px;
    flex-direction:column;
    font-family: Lobster, sans-serif, 'Times New Roman';
}
/*NAV*/

nav {
    background-color: #00ff4c;
    font-family: Kanit, sans-serif, monospace;
    padding:2px 20px 1px 20px;
    color:black;

}

nav button {
    display:none;
}
nav ul.hide {
    display:block;
}
nav ul {
 margin-left:2%;
 list-style-type:none;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:2px 20px 1px 2px;
   
    
}
nav ul li a {
    border:none;
    font-size:30px;
    padding:2px 20px 1px 0px;
    color:black;

}
nav ul li a:hover { background-color.: gray;
  padding:2px 20px 1px 0px;
}



/*FORM,*/
form fieldset {
    border:1px solid black;
    max-width: 1200px;
    margin:0 auto;
    padding: .5rem 2%;
    border-radius:10px;
    background-color:blue;
}
form legend {
    font-size:40px;
    display:block;
    padding: 5px 5px ;
    margin: 5px 5px;

}
form label.top {
    display:block;
    
    
}
form label.top input {

}
input, form label.top select {
    display:block;
    font-size:1rem;
    padding:.75rem .5rem;
    max-width:20rem;
    width:100%;
}
form fieldset label.sbs input {
    display:block;
    
}
form input.submitBtn{
    margin:1rem auto;
    
}

form label.top-input:required {

}

form label.top-input:required:valid {

}
select {
    display:block;
}
div {
    margin:20px 0 0 5px;
    display:block;
}


/*FOOTER*/
footer {
    background-color: #bed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px ;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    font-family: Bitter, sans-serif, monospace;
    margin-top:50px;
    font-size:30px;
    text-align:center;
}


