/* Desktop Views ****************************/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt&display=swap');
@media only screen and (min-width: 64em) {
/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
nav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,f4007e+100 */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #f4007e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a90329 0%,#f4007e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a90329 0%,#f4007e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#f4007e',GradientType=0 ); /* IE6-9 */

} 
.img2 {
    height: 100px;
    width: 100px;
}
.sum {
    position: absolute;
	top: 150px;
	right: 80px;
	background: radial-gradient(#eee, #40ca1d);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: .9;
    text-align:left;
}
.img1 {
    height: 300px;
    width: 700px;
}
.img2 {
    height: 200px;
    width: 100px;

}
nav {
    max-width: 767px;
    margin: 0 auto;
    font-family: Kanit, sans-serif, monospace;

}
main {
    max-width: 767px;
    margin: 0 auto;
    border-style: solid;
    border-color: green;
    text-align: center;
    padding: 50px 0 50px 0;
    font-family: Bitter, sans-serif, monospace;
}
.main1 {
    text-align: center;
    margin: 10px auto; position: relative;
    
}
nav button {
    display:none;
}
nav ul.hide {
    display:block;
}
nav ul {
    margin-left:2%;
}
nav ul li {
    float:left;
}
nav ul li a {
    display: block;
    text:center;
    border:none;
    border-right:1px solid rgba(0,0,0,0.3);
    padding:.8rem 1.70rem  ;
}
}
footer {
    background-color: #bed;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px ;
    max-width: 767px;
    margin: 0 auto;
    color: black;
    font-family: Bitter, sans-serif, monospace;
}
.update {
    margin-top:-20px;
}
.img3 {
    height:300px;
    width:400px;
    position:absolute;
    margin:0 -300px;
}
